<%= form_for [@task, @subtask] do |f| %>
  <%= f.error_messages %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :priority %><br />
    <%= f.select(:priority, [["Low", 1], ["Medium", 2], ["High", 3]]) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
